<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" action="/registrar-consulta" method="POST">
                    <fieldset>
                        <legend class="col-md-8">Registrar Consulta</legend>
                        {{#if datos}}
                            <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-3">
                                <input id="idPaciente" name="idPaciente" type="text" value="{{datos.idPaciente}}" class="form-control" disabled>
                            </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></i></span>
                                <div class="col-md-3">
                                    
                                    <input id="fechaConsulta" name="fechaConsulta" type="text" value="{{datos.fechaConsulta}}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></i></span>
                                <div class="col-md-3">
                                    <input id="nombrePaciente" name="nombrePaciente" type="text" value="{{datos.nombre}}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></i></span>
                                <div class="col-md-3">
                                    <input id="centroMedico" name="centroMedico" type="text" value="{{datos.centroM}}" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-5">
                                    <input id="doctor" name="doctor" type="text" placeholder="Nombre del doctor" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="incapacidad" name="incapacidad" type="text" placeholder="Dias de incapacidad" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="examenes" name="examenes" type="text" placeholder="Exámenes realizados" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="medicamento" name="medicamento" type="text" placeholder="Medicamentos suministrados" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="diagnostico" name="diagnostico" placeholder="Diagnostico del médico." rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        {{/if}}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>