<div class="container">

    <div class="signup-form-container">
    
         <!-- form start -->
         <form role="form" id="register-form" autocomplete="off">
         
         <div class="form-header">
          <h3 class="form-title"><i class="fa fa-user"></i>EXPEDIENTE NUEVO</h3>
                      
         <div class="pull-right">
             <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span></h3>
         </div>
                      
         </div>
         
         <div class="form-body">
                      
            <div class="form-group">
                   <div class="input-group">
                   <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                   <input name="nombrePaciente" type="text" class="form-control" placeholder="Nombre">
                   </div>
                   <span class="help-block" id="error"></span>
              </div>
                        
              <div class="form-group">
                   <div class="input-group">
                   <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                   <input name="direccion" type="text" class="form-control" placeholder="Dirección">
                   </div> 
                   <span class="help-block" id="error"></span>                     
              </div>
                        
              <div class="row">
                        
                   <div class="form-group col-lg-6">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="dui" id="dui" type="text" class="form-control" placeholder="DUI">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
                   <div class="form-group col-lg-6">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="fechaNacimiento" type="text" class="form-control" placeholder="Fecha de Nacimiento">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
             </div>
                        
             <div class="row">
                        
                   <div class="form-group col-lg-6">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="tipoSangre" id="tipoSangre" type="text" class="form-control" placeholder="Tipo de Sangre">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
                   <div class="form-group col-lg-6">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="estadoCivil" type="text" class="form-control" placeholder="Estado Civil">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
             </div>
             <div class="heading">ALERGIAS </div> 
             <div class="row">
                        
                   <div class="form-group col-lg-12">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="alergias" id="alergias" type="text" class="form-control" placeholder="ALERGIAS">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
                            
             </div>
                <div class="heading">EN CASO DE EMERGENCIA </div> 
              <div class="row">
                        
                   <div class="form-group col-lg-4">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="dui" id="dui" type="text" class="form-control" placeholder="Nombre">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
                   <div class="form-group col-lg-4">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="fechaNacimiento" type="text" class="form-control" placeholder="Número de Teléfono">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                   <div class="form-group col-lg-4">
                        <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input name="fechaNacimiento" type="text" class="form-control" placeholder="Parentesco">
                        </div>  
                        <span class="help-block" id="error"></span>                    
                   </div>
                            
             </div>     
            </div>
            
            <div class="form-footer">
                 <button type="submit" class="btn btn-info">
                 <span class="glyphicon glyphicon-log-in"></span> GUARDAR
                 </button>
            </div>


            </form>
            
           </div>

 </div>
    