<link rel="stylesheet" href="login.css">
<script src="https://kit.fontawesome.com/cd669d66b8.js" crossorigin="anonymous"></script>
 

<div class="container"> 
         <!-- formulario de inicio de sesion -->
         <div class="row">
         <div class="col">
         <div class="form-bg">
                <div class="container">
                    {{#if autenticado}}
                        <p>Usuario o contraseña incorrecto</p>
                    {{/if}}
                    <div class="row">
                       
                        
                             <h4 class="welcome-mess">¡Bienvenido a Sihome! <span class="welcome-desc">El sistema que mantiene al d&iacute;a tu informaci&oacute;n hospitalaria.</span></h4>
                             
                            <form class="form-horizontal" action="/loggin" method="POST"> 
                                <!-- <div class="heading">Login form</div> -->
                                <div class="form-group">
                                    <i class=""></i><input class="form-control" type="Name" placeholder="Nombre de usuario" id="userNameInput" name="username">
                                </div>
                                <div class="form-group">
                                    <i class=""></i><input class="form-control" type="password" placeholder="Contrase&ntilde;a" id="userPassword" name="password">
                                    <a href="" class="forgot-password">¿Problemas para iniciar sesi&oacute;n?</a>
                                </div>
                                 
                                <button type="submit" class="btn btn-default">Iniciar sesi&Oacute;n <a class="fa fa-sign-in"></a></button>  
                                                
                            </form>
                      
                    </div>
                </div>
        </div>
        </div>
        <div class="col">
            <img class="ban-login" src="http://localhost:4000/img/doctor-nurse-hero.png"></div></div>
  </div>


  
 