<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sihome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<header id="main-header">
		
		
		<a id="logo-header" href="#">	 
			<span class="site-name">Sihome</span>
			<span class="site-desc">Sistema M&eacute;dico Hospitalario</span>
		</a> <!-- / #logo-header -->
 
		<nav>
			<ul>
				 
			</ul>
		</nav><!-- / nav -->
 
	</header>
<body>
    
     
    <div class="container">
        {{{body}}}
    </div>
    

</body>
<script src="js/jquery.min.js"></script><script src="js/bootstrap.bundle.min.js"></script>
</html>